%h1 Listing orders

%table
  %thead
    %tr
      %th References
      %th Name
      %th Address
      %th Send date
      %th Send timeframe
      %th Total fee
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.references
        %td= order.name
        %td= order.address
        %td= order.send_date
        %td= order.send_timeframe
        %td= order.total_fee
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
