%p#notice= notice

%p
  %b User:
  = @shopping_item.user
%p
  %b Product:
  = @shopping_item.product
%p
  %b Number:
  = @shopping_item.number

= link_to 'Edit', edit_shopping_item_path(@shopping_item)
\|
= link_to 'Back', shopping_items_path
