%h1 Listing products

%table.table
  %thead
    %tr
      %th Name
      %th Image
      %th Price
      %th Explanation
      %th Is displayed
      %th Sort key
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td
          = image_tag product.image.to_s, size: "100x100"
        %td= product.price
        %td= product.explanation
        %td= product.is_displayed
        %td= product.sort_key
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

%br
.row.mt-4.justify-content-center
  = paginate @products

= link_to 'New Product', new_product_path
