%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Image:
  = @product.image
%p
  %b Price:
  = @product.price
%p
  %b Explanation:
  = @product.explanation
%p
  %b Is displayed:
  = @product.is_displayed
%p
  %b Sort key:
  = @product.sort_key

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
