%p#notice= notice

.row
  .col
    %h2
      = @product.name
.row
  .col
    = image_tag @product.image.to_s
.row
  .col
    %b 価格:
    = @product.price.to_s + "円"
.row
  .col
    = @product.explanation

- if current_user&.is_admin?
  = link_to '編集', edit_product_path(@product)
