%p#notice= notice

= simple_form_for(@order_product) do |f|
  - if f.object.errors[:user].present?
    = f.error :user, class: 'alert alert-danger alert-dismissible fade show'
  .row
    .col
      %h2
        = @product.name
  .row
    .col
      = image_tag @product.image.to_s
  .row
    .col
      %b 価格:
      = @product.price.to_s + "円"
  .row
    .col
      = @product.explanation
  - if not current_user&.admin?
    .row.mt-3
      .form-inputs
        = f.input :number
        = f.hidden_field :product_id, value: @product.id

    .form-actions
      = f.button :submit,'カートに追加', class: 'btn-success'

- if current_user&.admin?
  = link_to '編集', edit_product_path(@product)
